body,html {
    color: white;
    max-width: 100vw;
}
 li {
   list-style: none;
 }
 .text-shadow {
    text-shadow: rgb(0, 0, 0, 0.5) 4px 1px;
 }
 a.dropdown-item, .dropdown > div {
    color: white;
    cursor: pointer;
 }

 .router-link-active a {
    background-color: white;
    color: black !important;
 }
.text-fit {
    width: fit-content !important;
}
.w-90 {
    width: 90% !important;
    word-wrap: break-word;
}

.h-20px {
    max-width: 288px;
}

.dropdown > div {
    background-color: #151515
}
.card {
    min-width: 15em !important;
    max-width: 15em !important;
    min-height: 28em;
    max-height: 28em;
    background-color: #151515;
    scroll-snap-align: start;
}

.card-y{
    scroll-snap-align: start;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
}

.card-y a{
    text-decoration: none;
    color: white;
}

.card-img-top {
    min-height: 270px;
    max-height: 270px;
    max-width: 100%;
    min-width: 100%;
    object-fit: cover;
    object-position: center;
}
.card-img-top img {
    width: 100%;
    height: 100%;
}
.carousel {
    display: flex;
    height: fit-content;
    margin: 0 auto;
    min-height: 337px;
}
.carousel-y {
    height: fit-content;
    width: 100%;
}

.sizing {
    min-width: 288px;
    min-height: 162px;
    max-width: 288px;
    max-height: 162px;
}

.page-wrapper > div > .dropdown > ul {
    padding: 10px !important;
    z-index: 1000;
}

@media  only screen and (max-width: 900px) {
    .page-wrapper > div > .dropdown {
        display: block !important;
    }

    .carousel {
        width: 90%;
    }

    .page-wrapper > div {
        flex-direction: column-reverse;
    }
    .page-wrapper > div > .dropdown {
        position: relative;
    }
    .page-wrapper > div > .dropdown > ul {
        position: absolute;
        background-color: white;
        padding: 10px;
        width: 60% !important;
    }
    .page-wrapper > div > .dropdown > p {
        display: none;
    }
    .page-wrapper > div a.dropdown-item {
        color: black;
    }
}

@media  only screen and (min-width: 769px) {
    .page-wrapper > div > .dropdown {
        width: 146px !important;
        margin: 0;
    }
    .page-wrapper > div > p {
        text-align: start;
        font-weight: bold;
        font-size: 25px;
        margin: 0;
        padding-left: 20px;
        width: 40% !important;
    }
    .text-fit {
        font-size: 20px;
    }
    .info > div > div  {
        font-size: 22px;
    }
    .info > img {
        max-height: 900px;
    }
}

@media  only screen and (max-width: 768px) {
    .page-wrapper > div > .dropdown {
        position: relative;
    }
    .dropdown {
        width: 70% !important;
    }
}

@media  only screen and (max-width: 425px) {
    .carousel {
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
    }
    ::-webkit-scrollbar{
        -webkit-appearance: none;
        width: 7px;
    }
    ::-webkit-scrollbar {
        display: none;
    }
    .page-wrapper {
        min-height: auto !important;
    }
    .carousel-y {
        max-height: 250px;
        overflow-y: scroll;
        scroll-snap-type: y mandatory;
        -webkit-overflow-scrolling: touch;
        margin: 0 auto;
    }
    ::-webkit-scrollbar{
        -webkit-appearance: none;
        width: 7px;
    }
    ::-webkit-scrollbar {
        display: none;
    }
    div .sizing{
        min-width: 100%;
        min-height: 187px;
        max-width: 100%;
        max-height: 187px;
    }
    .img-height {
        min-height: 200px;
    }
    .dropdown {
        width: 90% !important;
    }
}

@media  only screen and (min-width: 426px) {
    .carousel-y {
        display: flex;
        flex-wrap: wrap;
    }
    .card-y {
        margin: 9px;
    }
    .carousel {
        flex-wrap: wrap;
        width: 80%;
        margin: 0 0 0 15px;
        justify-content: center;
    }
    .card {
        min-width: 20em;
        max-width: 20em;
    }
}

@media  only screen and (max-width: 320px) {
    .carousel-y {
        max-height: 300px;
        overflow-y: scroll;
        scroll-snap-type: y mandatory;
        -webkit-overflow-scrolling: touch;
    }
    ::-webkit-scrollbar{
        -webkit-appearance: none;
        width: 7px;
    }
    ::-webkit-scrollbar {
        display: none;
    }
    div .sizing{
        min-width: 250px;
        min-height: 140px;
        max-width: 250px;
        max-height: 140px;
    }
    .img-height {
        min-height: 180px;
    }
    .page-wrapper > div > .dropdown {
        position: relative;
    }
    .page-wrapper > div > .dropdown > ul {
        position: absolute;
        background-color: white;
        padding: 10px;
        width: 100% !important;
    }
    div .sizing{
        min-width: 100%;
        min-height: 163px;
        max-width: 100%;
        max-height: 163px;
    }
}